<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="ja">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>music_app</title>
        <!-- スタイルシート -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/player.css">
        <link rel="stylesheet" href="/stylesheets/loader.css">
        <link rel="stylesheet" href="/stylesheets/scroll.css">
        <!-- フォント -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <!-- <a href="{% url 'home' %}" class="headerURL">home</a>
            <a href="{% url 'player' %}" class="headerURL">player</a>
            <a href="{% url 'clipping' %}" class="headerURL">切り抜き</a> -->
        </header>
        <!-- 動画と動画再生リスト -->
        <div class="columns">
            <!-- プレイヤー -->
            <div class="primary columnsChild" id="primary">
                <div id="player"></div>
            </div>
            <!-- 動画の再生リスト -->
            <div class="secondary columnsChild">
                <!-- 検索 -->
                <div class="narrowDown" id="narrowDown">
                    <input type="text" name="q"  placeholder="検索" id="textBox" style="margin-left: auto;">
                </div>
                <!-- 再生リスト -->
                <div class="music-list">
                    <!-- ロード中 -->
                    <div class="loader" id="loader" style="transform: scale(0.5)">Loading...</div>
                    <ul id="movie-ul"></ul>
                    <template id="template-li">
                        <li class="movieLi" >
                            <img class="img">
                            <div class="titleName">
                                <p class="title titleANDname"></p>
                                <p class="name titleANDname"></p>
                            </div>
                        </li>
                    </template>
                </div>
            </div>
        </div>
        <!-- コントトールパネル -->
        <div class="control">
            <div class="controlChild">
                <!-- 時間管理のスライダー -->
                <input type="range" min="0" max="1" step="0.001" value="0" id="timeSlider" class="timeSlider" >
                <img src="/images/skip_previous_white_24dp.svg" onclick="restoreVideo()" class="LIcon" id="skipPrevious">
                <img src="/images/play_arrow_white_24dp.svg" id="playArrow" onclick="playArrow()" class="LIcon">
                <img src="/images/skip_next_white_24dp.svg" onclick="skipVideo()" class="LIcon" style="margin-right: 24px;">
                <div id="digitalTimer">00:00/00:00</div>
            </div>
            <!-- タイトル -->
            <div class="controlChild" id="information">
                <div class="videoInfo" >
                    <p class="conTitle" id="controlTitle"></p>
                    <p class="conName" id="controlName"></p>
                </div>
            </div>
            <!-- レピート＆シャッフル&VOL -->
            <div class="controlChild" id="VRS">
                <div class="volume" id="volume">
                    <input type="range" min="0" max="100" step="1" value="100" id="volumeSlider" class="volumeSlider" style="display: none;">
                    <img src="/images/volume_up_white_24dp.svg" id="volumeButton" onclick="changeMute()" class="RIcon" >
                </div>
                <img src="/images/repeat_white_24dp.svg" id="repeatButton" onclick="changeRepeat()" class="RIcon" style="display: none;" >
                <img src="/images/shuffle_white_24dp.svg" id="shuffleButton" onclick="musicDataShuffle()" class="RIcon" style="margin-right: 32px;">
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/player.js"></script>
        <!-- <script type="text/javascript" src="/javascripts/playerAjax.js"></script> -->
    </body>
</html>
