body {
    display: flex;
    margin: 3rem;
}
th,td{
    border:solid 1px #aaaaaa;
}


.workspace{
    flex: 1;
}
.skipRange{
    width: 50%;
}
.table{
    width: 100%;
}
#movieData{
    margin-top: 1rem;
}
.inputData{
    width: 100%;
}
.addSaveCheck{
    display: flex;
}
.addSaveCheckButton{
    margin: 0 0.5rem;
}
.buttonImg{
    height: 1rem;
    width: 1rem;
}
